.DIRG {
  --grid-number: auto;
  --grid-gutter: 0;
  --grid-col: 1;
  --grid-row: 1;
  --grid-order: 0;
}

.DIRG {
  display: grid;
  gap: var(--grid-gutter, 0);
}

@media (min-width: 576px) {
  .DIRG {
    grid-template-columns: repeat(var(--grid-number, 1), 1fr);
  }
  .DIRG > * {
    grid-column: auto / span var(--grid-col, auto);
    grid-row: auto / span var(--grid-row, auto);
    order: var(--grid-order,0);
    min-width: 0;
  }
}
