/* Reset */

body {
  margin: 2rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.DIRG>div {
  padding: 1rem;
  color: #fff;
}

.DIRG>div:nth-of-type(1) {
  background: orange;
}

.DIRG>div:nth-of-type(2) {
  background: hotpink;
}

.DIRG>div:nth-of-type(3) {
  background: olivedrab;
}

.DIRG>div:nth-of-type(4) {
  background: dodgerblue;
}

.DIRG>div:nth-of-type(5) {
  background: slategray;
}

.DIRG>div:nth-of-type(6) {
  background: tomato;
}

.DIRG>div:nth-of-type(7) {
  background: peru;
}
